@charset "UTF-8";

/// Default for supported browser
@include config-set("browsers", "> 1%, last 2 versions, Firefox ESR", true);

// What browsers will be used in `last n version`
@include config-set("browserslist-major", (
  "safari",
  "opera",
  "ios_saf",
  "ie_mob",
  "ie",
  "edge",
  "firefox",
  "chrome"
), true);

/// Browser names aliases
@include config-set("browserslist-aliases", (
  fx:             "firefox",
  ff:             "firefox",
  ios:            "ios_saf",
  explorer:       "ie",
  blackberry:     "bb",
  explorermobile: "ie_mob",
  operamini:      "op_mini",
  operamobile:    "op_mob",
  chromeandroid:  "and_chr",
  firefoxandroid: "and_ff",
  ucforandroid:   "and_uc"
), true);
