@import "true";

@import "autoprefixer";

// Import autoprefixer
@import "scss/hacks/flex-spec.test";
@import "scss/hacks/align-content.test";
@import "scss/hacks/align-items.test";
@import "scss/hacks/align-self.test";
@import "scss/hacks/appearance.test";
@import "scss/hacks/background-size.test";
@import "scss/hacks/block-logical.test";
@import "scss/hacks/border-image.test";

@import "scss/helpers/str-replace.test";

@import "scss/settings/browser.test";

@import "scss/autoprefixer.tests";
