@charset "UTF-8";

@if import-once("align-content") {
  @mixin align-content($prefix, $value) {
    $names: ("align-content", "flex-line-pack");

    $list: flex-spec($prefix);

    $old-values: (
      'flex-end':      'end',
      'flex-start':    'start',
      'space-between': 'justify',
      'space-around':  'distribute',
    );

    $spec: nth($list, 1);
    $prefix: nth($list, 2);

    @if $spec == 2012 {
      $prefixed: $prefix + "flex-line-pack";
      @if map-has-key($old-values, $value) {
        $value: map-get($old-values, $value);
      }
    } @else if $spec == "final" {
      $prefixed: $prefix + "align-content";
    } @else {
      $prefixed: "align-content";
    }

    #{$prefixed}: unquote($value);
  }
}
