@charset "UTF-8";

@if import-once("background-size") {
  @mixin background-size($prefix, $value) {
    $names: ("background-size");

    @if $value == none {
      $prefixed: $prefix + "appearance";
    } @else {
      $prefixed: "appearance";
    }

    // Duplication parameter for -webkit- browsers
    @if $prefix == "-webkit-" and $value != "contain" and $value != "cover" {

    }

    #{$prefixed}: unquote($value);
  }
}
