@charset "UTF-8";

@if import-once("border-image") {
  @mixin border-image($prefix, $value) {
    $names: ("border-image");

    @if $prefix != "" {
      $value: str-replace($value, "fill", "");
      // Fix spaces
      $value: str-replace($value, "  ", " ");
    }

    $prefixed: $prefix + "border-image";

    #{$prefixed}: unquote($value);
  }
}
