@charset "UTF-8";

@if import-once("border-radius") {
  @mixin border-radius($prefix, $value, $property) {
    $names: ("border-radius");

    $normal: ();
    $mozilla: ();

    @each $ver in ("top", "bottom") {
      @each $hor in ("left", "right") {
        $prop-normal: "border-#{$ver}-#{$hor}-radius";
        $prop-mozilla: "border-radius-#{$ver}#{$hor}";

        $normal: map-merge($normal, ($prop-mozilla: $prop-normal));
        $mozilla: map-merge($mozilla, ($prop-normal: $prop-mozilla));
      }
    }

    @if $prefix == "-moz-" {
      @if map-has-key($mozilla, $property) {
        $prefixed: $prefix + map-get($mozilla, $property);
      } @else {
        $prefixed: $prefix + $property;
      }
    } @else {
      @if map-has-key($normal, $property) {
        $prefixed: $prefix + map-get($normal, $property);
      } @else {
        $prefixed: $prefix + $property;
      }
    }

    #{$prefixed}: unquote($value);
  }
}
